@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FBF9F5] dark:bg-[#0F0D0E] text-stone-900 dark:text-stone-100 transition-colors duration-200 antialiased font-sans selection:bg-amber-500 selection:text-white;
  }
}

/* Custom Minimalist Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(217, 119, 6, 0.2);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 119, 6, 0.4);
}
